

<div class="panel panel-default">
    <div class="panel-heading text-center">
      <h3>Register</h3>    
    </div>
    <div class="panel-body">
        <form [formGroup]='user' (ngSubmit)='onSubmit()' class="ui large form segment">
            <div class="row top-buffer">
              <div class="col-sm-9 col-sm-offset-3">
                  Already a member? <b><a class='item' routerLink="/login" >Login!</a></b>
              </div>
                
            </div>
            <div class="row top-buffer">
              <div class="col-sm-3">
                  <label for="username">Username:</label>
              </div>
              <div class="col-sm-9">
                  <input class="form-control" type="text" id="username" formControlName='username'>
                  <div class='ui pointing red basic label' *ngIf=' user.get("username").errors?.required && user.get("username").touched'>
                    a username is required
                  </div>
                  <div class='ui pointing red basic label' *ngIf='user.get("username").errors?.minlength && user.get("username").touched'>
                      the username should be at least {{user.get("username").errors?.minlength.requiredLength }} letters
                    </div>
                    <div class='ui pointing red basic label' *ngIf='user.get("username").errors?.userAlreadyExists && user.get("username").touched'>
                      a user with that name already exists
                    </div>
              </div>
            </div>
            <div formGroupName='passwordGroup'>
                <div class="row top-buffer">
                    <div class="col-sm-3">
                        <label for="password">Password:</label>
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control" type="password" id="password" formControlName='password'>
                        <div class='ui pointing red basic label' *ngIf=' passwordControl.errors?.passwordTooShort && passwordControl.touched'>
                          password too short, please use at least {{passwordControl.errors?.passwordTooShort.requiredLength}} letters (got {{passwordControl.errors?.passwordTooShort.actualLength}})
                        </div>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-sm-3">
                        <label for="confirmpassword">Confirm password:</label>
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control" type="password" id="confirmpassword" formControlName='confirmPassword'>
                    </div>
                </div>
                <div class='ui pointing red basic label' *ngIf=' user.get("passwordGroup").errors?.passwordsDiffer && user.get("passwordGroup").get("confirmPassword").touched  && user.get("passwordGroup").get("password").touched'>
                    the two passwords should be the same
                   </div>
            </div>
            
            <div class="col-sm-9 col-sm-offset-3 top-buffer">
                <button type='submit' [disabled]='!user.valid' class="btn-lg btn-default">Register</button>
                
            </div>
            
          </form>
          
    </div>
  </div>
  