
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">HappyMeter</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Rater</a>
                </li>
                <li>
                    <a routerLink="/rating/list">Ratingslist</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                        <ng-template #loginlink>
                                <a class="item" routerLinkActive='active' routerLink="/login">log in</a>
                              </ng-template>
                </li>
            </ul>
            
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Full Width Image Header -->
<header class="header-image">
    <div class="headline">
        <div class="container">
            <h1>MoodMeter</h1>
            <h2>How was your day?</h2>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container" style="padding-top: 40px">

  <router-outlet></router-outlet>

<hr class="featurette-divider">
<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Matthias Vanooteghem 2017</p>
        </div>
    </div>
</footer>

</div>
<!-- /.container -->
